button {
   cursor: pointer;
}
.bg {
   background-image: url("./img/1.gif");
   background-size: cover;
   height: 1080px;
}
.todo {
   padding-top: 200px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.todo__title {
   color: white;
   font-size: 72px;
   text-align: center;
}
.input {
   font-size: 18px;
   color: black;
   opacity: 0.3;
   padding: 10px;
   border-radius: 50px;
   border: none;
}
.todo__wropper {

}
.btn {
   display: inline-block;
   background-color: yellow;
   border: none;
   font-size: 20px;
   padding: 10px;
   border-radius: 25px;
   color: black;
}
#tasks {
   max-width: 500px;
   margin-top: 20px;
}
.task {
   display: flex;
   justify-content: space-between;
}
.task__text {
   font-size: 20px;
   color: white;
}
.btnDel {
   background-color: red;
   border: none;
   font-size: 20px;
}
.task + .task {
   margin-top: 20px;
}

@media(max-width: 992px) {
   .todo__title {
      font-size: 36px;
   }
}